{% extends "administracion/base.html" %}

{% block content %}
<h1>Monitoreo de Ocupación</h1>

<table border="1">
  <tr>
    <th>Cooperativa</th>
    <th>Bus</th>
    <th>Capacidad</th>
    <th>Reservas</th>
    <th>% Ocupación</th>
  </tr>
  {% for bus in object_list %}
  <tr>
    <td>{{ bus.cooperativa.nombre }}</td>
    <td>{{ bus.placa }}</td>
    <td>{{ bus.capacidad }}</td>
    <td>{{ bus.reservas_count }}</td>
    <td>{{ bus.ocupacion|floatformat:2 }} %</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
